<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jef-mrs/logistip_airbnb_clone"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/mseauxpeters/"><i class="fab fa-instagram"></i></a>
    <a href="https://fr.linkedin.com/in/matthieu-seaux-peters"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Logisip-airbnb-clone - 2022 <i> V.0.0.1 - Tous droits réservés</i>
  </div>
</div>
