.booking-status-accepté {
  border: 2px solid #1EDD88;
  color: #1EDD88;
}

.booking-status-en-cours {
  border: 2px solid
  #3498dc;
  color:
  #3498dc;
}

.booking-status-refusé {
  border: 2px solid #FD1015;
  color:#FD1015;
}
