<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>L'email associé à votre compte est en cours de modification. Le nouveau mail sera : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>L'email associé à votre compte a été remplacé par : <%= @resource.email %>.</p>
<% end %>
